page {
    font-size: 28rpx;
    line-height: 1.5;
    color: #2c3e50;
    background: #fff;
    -webkit-overflow-scrolling: touch;
}



.flex-box{
    display: flex;
    .flex-item{
        flex: 1;
    }
}


